<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Entry</title>
</head>

<body>
    {%extends 'learning_logs_template/base.html'%}

    {%block content%}
    <p><a href="{%url 'learning_logs_app:topic' topic.id%}">{{topic}}</a></p>

    <p>Add a new entry</p>
    <form action="{%url 'learning_logs_app:new_entry' topic.id%}" method="post">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit">Add Entry</button>

    </form>
    {%endblock content%}
</body>
</html>